<server description="Sample Liberty server">

  <featureManager>
    <!-- Pending issue #4275 -->
    <feature>microprofile-2.0</feature>

    <feature>usr:opentracingZipkin-0.31</feature>
  </featureManager>

  <keyStore id="defaultKeyStore" password="m1cropr0file" />

  <quickStartSecurity userName="Admin" userPassword="Admin"/>
  <variable name="Retry/maxRetries" value="1"/>
  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />

  <!-- Automatically expand WAR files and EAR files -->
  <applicationManager autoExpand="true"/>

  <webApplication name="mp-ft-servicea" location="${app.location}" contextRoot="/ft/serviceA">
		<appProperties>
             <property name="Retry/maxRetries" value="1"/>
        </appProperties>
  </webApplication>
</server>
